<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Trading Suite" parallel="false">
    <test name="UI Tests">
        <classes>
            <class name="com.example.trading.tests.StockQuoteTest"/>
        </classes>
    </test>
</suite>


